html {
    font-size: .625em; /* fallback IE8+ */
    font-size: calc(1em * .625); /* IE9-IE11 math fixing */
}

body {
	font-size: 1.4em; /* base font-size is equivalent "14px" */
    font-family: sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, rgb(100, 100, 100), rgb(150, 150, 150), rgb(100, 100, 100));
	color: rgb(198, 198, 198);
}

/* HEADER */

	header {
		width: 100%;
	}
	
	#logoutStripe {
		height: 50px;
		line-height: 50px;
		background-color: rgb(169, 31, 20);
	}

	#logoutStripe p {
		text-align: right;
		margin: 0;
	}

	#logoutStripe a {
		color: rgb(198, 198, 198);
		text-decoration: none;
	}

	#nameStripe {
		height: 250px;
		background: linear-gradient(90deg,rgb(210, 55, 43), rgb(229, 93, 82), rgb(210, 55, 43));
	}

	#menuStripe {
		height: 50px;
		background-color: white;
	}

	.contentColumn {
		width: 60%;
		margin: 0 auto;
	}

/* BODY */

	.blockPage {
		width: 60%;
		margin: 20px auto;
	}

	#homePageTopSection {
		display: flex;
		justify-content: space-between;
	}

	.homePageGameSheet {
		width: 23%;
		height: 550px;
		overflow: hidden;
		position: relative;
		background: center no-repeat;
		background-size: cover;
	}

	.homePageGameSheet img {
		margin: 0 auto;
		filter: brightness(40%);
		-webkit-filter: brightness(40%);
	}

	.homePageGameSheet img:hover {
		filter: brightness(60%);
		-webkit-filter: brightness(60%);
	}

	.blockNameAndType {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.homePageGameSheet h3, p {
		text-align: center;
	}

	.sheetLogo {
		width: 50px;
		height: 50px;
		line-height: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;
		background-color: rgb(169, 31, 20);
		color: rgb(198, 198, 198);
		border-radius: 50%;
	}

	.sheetLogo p {
		margin: 0;
	}

/* FOOTER */

	footer {
		width: 100%;
		height: 50px;
		line-height: 50px;
		background-color: rgb(107, 0, 54);
	}

	footer p {
		margin: 0;
		text-align: center;
	}

	footer a {
		color: rgb(214, 110, 163);
		text-decoration: none;
	}

	footer a:hover {
		background-color: rgba(255, 140, 131);
		color: rgb(130, 9, 0);
	}